<configuration>

    <contextName>prod</contextName>

    <logger name="ch.qos.logback.classic.*" level="OFF" additivity="false"/>

    <appender name="json-stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${URL_LOKI_LOG}</url>
        </http>
        <format>
            <label>
                <!-- Labels -->
                <pattern>
                    app = @project.artifactId@,
                    host = ${HOSTNAME}
                </pattern>
                <!-- Structured metadata (since Loki v2.9.0) -->
                <structuredMetadataPattern>
                    level = %level,
                    thread = %thread,
                    class = %logger,
                    traceId = %mdc{traceId:-none}
                </structuredMetadataPattern>
            </label>
            <message>
                <pattern>%-5level %logger{20} %msg %ex</pattern>
            </message>
        </format>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="json-stdout"/>
        <appender-ref ref="LOKI"/>
        @appender.ref.stdout@
    </root>

</configuration>